[
    {client, [
        {cacertfile, \"$HUB_CA_CERT\"},
        {certs_keys, [
            #{
                certfile =>  \"$ROOT/local.pem\",
                keyfile => \"$ROOT/local.key\"
            }
        ]},
        {verify, verify_peer},
        {secure_renegotiate, true}
        %,{log_level, debug}
        %,{log_alert, true}
    ]}
].
