{deps, [
    grisp,
    {grisp, {git, "https://github.com/grisp/grisp.git", {branch, "master"}}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    certifi,
    grisp_updater_grisp2,
    grisp_connect,
    {rosie_dds, {git, "https://github.com/stritzinger/rosie_dds.git", {branch, "ziopio/fragment"}}},
    {rosie_rclerl, "*.", {git, "https://github.com/stritzinger/rosie_rclerl.git", {branch, "main"}}},
    {visualization_msgs, {ros2, galactic}},
    {ro2erl_bridge, {git, "https://github.com/stritzinger/ro2erl_bridge.git", {branch, "main"}}}
]}.

{erl_opts, [debug_info]}.

{minimum_otp_vsn, "27"}.

{plugins, [
    rebar3_grisp,
    rebar3_grisp_io,
    {rosie_ros2_deps, "*.",
        {git, "https://github.com/rosie-project/rosie_ros2_deps.git", {branch, "master"}}},
    {rosie_interface_compiler, "*.",
        {git, "https://github.com/stritzinger/rosie_interface_compiler.git", {branch, "master"}}}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.
{ex_doc, [
    {extras, [
          %{"CHANGELOG.md", #{title => "Changelog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}}
    ]},
    %{main, "README.md"},
    {homepage_url, "https://github.com/stritzinger/ro2erl_demo"},
    {source_url, "https://github.com/stritzinger/ro2erl_demo"}
]}.

{grisp, [
    {otp, [{version, "=27.2.4"}]},
    {platform, grisp2},
    % {build, [
    %    {toolchain, [
    %        % {docker, "grisp/grisp2-rtems-toolchain"}
    %        {directory, "/opt/grisp/grisp2-rtems-toolchain/rtems/5"}
    %    ]}
    % ]},
    {deploy, [
       {destination, "/Volumes/GRISP"},
       {pre_script, "rm -rf /Volumes/GRISP/*"},
       {post_script, "diskutil umount /Volumes/GRISP"}
    ]}
]}.

{relx, [
    {release, {ro2erl_demo, "0.1.0"}, [
        sasl,
        {epmd, none},
        rosie_dds,
        ro2erl_bridge,
        grisp_updater_grisp2,
        grisp_connect,
        ro2erl_demo,
        runtime_tools
    ]}
]}.

{profiles, [
    {prod, [
        {relx, [{sys_config, "config/sys.config"}]}
    ]},
    {stage, [
        {rebar3_grisp_io,[
            {base_url, <<"https://app.stage.grisp.io">>}
        ]},
        {relx, [{sys_config, "config/stage.config"}]}
    ]},
    {dev, [
        {rebar3_grisp_io,[
            {base_url, <<"https://localhost:8443">>}
        ]},
        {relx, [{sys_config, "config/dev.config"}]}
    ]},
    {local, [
        {rebar3_grisp_io,[
            {base_url, <<"https://localhost:8443">>}
        ]},
        {deps, [
            {grisp_emulation, {git, "https://github.com/grisp/grisp_emulation.git", {branch, "master"}}}
        ]},
        {overrides, [
            {add, grisp_cryptoauth, [{erl_opts, [{d, 'EMULATE_CRYPTOAUTH'}]}]},
            {add, grisp_updater, [{erl_opts, [{d, 'USE_UNSEALED_MANIFEST'}]}]},
            {add, grisp_updater_grisp2, [{erl_opts, [{d, 'EMULATE_HARDWARE'}]}]}
        ]},
        {shell, [
            {apps, [
                grisp_emulation,
                ro2erl_bridge,
                grisp_connect,
                ro2erl_demo,
                runtime_tools
            ]},
            {config, "config/local.config"}
        ]}
    ]}
]}.
